<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect direct requests for *.html to clean URLs (301 Redirect)
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*[^.]+\.html\ HTTP/
  RewriteRule ^(([^/]+/)*)([^.]+)\.html$ /$1$3 [R=301,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
